<p><%= link_to "Welcome page", root_path, class: "text-decoration-none  text-blue" %><p>

<p><%= link_to "project index", projects_path, class: "text-decoration-none  text-blue"  %></p>

<div>
    <%= simple_form_for @project do |f| %>
      <p><%= f.input :name %></p>
      <p><%= f.input :description %></p>
      <p><%= f.submit  %></p>
    <% end %>
</div>




