<p><%= link_to "Welcome page", root_path, class: "text-decoration-none  text-blue" %><p>

<p><%= link_to "project index", projects_path, class: "text-decoration-none  text-blue"  %></p>
<p><%= link_to "edit project", edit_project_path(@project), class: "text-decoration-none  text-blue"  %></p>
<p><%= link_to "manage projects", index_path,class: "text-decoration-none  text-blue" %></p>


<%# affichage des projects %>
<%= form_tag project_path(@project), method: :delete do %>    
  <%= submit_tag "Delete this project", data: { confirm: "Êtes-vous sûr de vouloir supprimer ce projet ?" }, class: " btn btn-danger" %>
<% end %>


<br>
<p> nom du project:<br><%= @project.name %><br></p>
<p>description:<br><em><%= @project.description %><em></p>


<!-- Affichage des utilisateurs affectés au projet -->
<h2>Utilisateurs affectés au projet :</h2>

<p><em>To add users to a project, log in as admin<em><p>

<ul>
  <% @project.users.each do |user| %>
    <li>Nom:    <%= user.first_name %><br>email:    <%= user.email %></li>
    <%# code de basculement %>
            <%= form_tag toggle_role_user_path(user), method: :put do %>    
            <% if user.role == 'user' %>
                <%= submit_tag 'Pass as admin', class: 'btn btn-primary' %>
            <% else %>
                <%= submit_tag 'Pass as user', class: 'btn btn-secondary' %>
            <% end %>
            <% end %>
  <% end %>
</ul>



<!-- Formulaire pour ajouter un utilisateur au projet -->
      <% if current_user.role == 'admin' %>
        <%= form_with(url: project_add_user_path(@project), method: :post) do |f| %>
          <div class="form-group">
            <%= f.label :email, "user mail" %>
            <%= f.email_field :email, class: "form-control", required: true %>
            <%= f.submit "add user on projet" %>
          </div>
        <% end %>
      <% end %>


<p><%= link_to "Déconnexion", logout_path, method: :delete, class: "text-decoration-none text-dark btn btn-danger" %></p>
