project #show



<%= link_to "project index", projects_path, class: "text-decoration-none  text-dark"  %> <br/>
<%= link_to "edit project", edit_project_path(@project), class: "text-decoration-none  text-dark"  %><br/>

<%= form_tag project_path(@project), method: :delete do %>    
  <%= submit_tag "Supprimer ce projet", data: { confirm: "Êtes-vous sûr de vouloir supprimer ce projet ?" } %>
<% end %>

<%# <%= link_to "update project", project_path(@project), method: :patch %><br/> 

<br>
<%= @project.name %><br>
<%= @project.description %>


<!-- Affichage des utilisateurs affectés au projet -->
<p>Utilisateurs affectés au projet :</p>
<ul>
  <% @project.users.each do |user| %>
    <li><%= user.email %></li>
  <% end %>
</ul>



<!-- Formulaire pour ajouter un utilisateur au projet -->
<% if current_user.role == 'admin' %>
  <%= form_with(url: project_add_user_path(@project), method: :get) do |f| %>
    <div class="form-group">
      <%= f.label :email, "Adresse e-mail de l'utilisateur" %>
      <%= f.email_field :email, class: "form-control", required: true %>
      <%= f.submit "Ajouter utilisateur au projet" %>
    </div>
  <% end %>
<% end %>

